*{
	box-sizing: border-box;
}
body{
	width: 100%;
	margin: 0;
	background-color: #eee;
}
.container{
	width: 960px;
	min-height: 600px;
	margin: auto;
	font-family: cursive;
	background-color: #fff;
	background-image: url('../assests/rural-communities.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.container header{
	width: 100%;
	height: 100px;
	background-color: maroon;
	text-align: center;
	padding: 20px;
}
.container header h1{
	margin: 0;
	color: #eee;
	font-size: 35px;
	font-style: italic;
}
.container section{
	width: 100%;
}
.container section article{
	float: left;
	width: 60%;
	padding: 20px 35px;
}
.container section aside{
	float: right;
	width: 40%;
	padding: 20px 15px;
}
.container section aside form{
	width: 100%;
	background-color: #292823;
	padding: 15px 20px;
	min-height: 300px;
	color: #eee;
}




.container section aside form input[type="submit"]{
	background-color: maroon;
	color: #eee;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 19px;
	border-radius: 10px;
}



.container section aside form input[type="submit"]:hover{
	background-color: turquoise;
	color: black;
}

.container nav{
	width: 100%;
	height: 50px;
	background-color: #000;
}
.container nav p{
	width: auto;
	height: 30px;
	float: right;
	margin: 14px 5px 0 0;
}
.container nav p a{
	background-color: #282923;
	color: #eee;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
}
.intro-text{
	font-style:italic; 
	background-color:black; 
	color:white; width:300px;
}

.reg-form{
	background-color: black !important;
	color: white !important;
	width: 200px !important;
}

